@using AudioPlayerProject.Models.Music;

@{
    ViewData["Title"] = "Music Page";
}
@model Music
<form asp-action="Index" enctype="multipart/form-data">
    <input asp-for="Title" required />
    <input asp-for="Artist" />
    <input asp-for="File" required />

    <input type="submit" />
</form>
