@using AudioPlayerProject.Models.Music;

@{
    ViewData["Title"] = "Music Page";
}
@model Music
<form asp-action="Index" enctype="multipart/form-data">
    <input asp-for"MusicTitle" />
    <input asp-for="MusicFile" />

    <input type="submit" />
</form>
