@using AudioPlayerProject.Models.Music;

@{
    ViewData["Title"] = "Music Page";
}

@if (ViewData["UploadMusicResult"] == "Success")
{
    <div class="alert alert-success" role="alert">
        La musique a été ajoutée avec succès !
    </div>
}
else if (ViewData["UploadMusicResult"] == "Failure")
{
    <div class="alert alert-danger" role="alert">
        Une erreur s'est produit lors de l'ajout de la musique
    </div>
}

@model Music
<form asp-action="Index" enctype="multipart/form-data">
    <input asp-for="Title" required />
    <input asp-for="Artist" />
    <input asp-for="File" required />

    <input type="submit" />
</form>

@{ List<Music> musics = ViewBag.MusicsList; }
<table class="table table-sm table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Artiste</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        @foreach (Music music in musics)
        {
            <tr>
                <td>@music.Id</td>
                <td>@music.Title</td>
                <td>@music.Artist</td>
            </tr>
        }
    </tbody>
</table>
