@using AudioPlayerProject.Models;

@{
    Music music = ViewBag.Music;
    ViewData["Title"] = music.Title + (music.Artist == null ? "" : "- " + music.Artist);
}

<h3>@music.Title @(music.Artist == null ? "" : "- " + music.Artist)</h3>
<div class="my-4" id="waveform"></div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary mx-1" id="loop"><i class="fas fa-arrow-right"></i></button>
    <button type="button" class="btn btn-primary mx-1" id="playPause"><i class="fas fa-play"></i></button>
    <button type="button" class="btn btn-primary mx-1" id="mute"><i class="fas fa-volume"></i></button>
</div>

@section Scripts {
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script>
        var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: '#317AC8',
            progressColor: '#143875',
            height: 120,
            barWidth: 3
        });

        let loop = false;

        wavesurfer.load("@( "/" + ViewBag.BaseUploadsPath + "/" + music.Path )")

        wavesurfer.on('ready', function () {
            wavesurfer.play();
        });

        wavesurfer.on('play', function () {
            // Button Play/Pause
            document.querySelector('#playPause').querySelector('i').classList.remove('fa-play');
            document.querySelector('#playPause').querySelector('i').classList.add('fa-pause');
        });

        wavesurfer.on('pause', function () {
            // Button Play/Pause
            document.querySelector('#playPause').querySelector('i').classList.remove('fa-pause');
            document.querySelector('#playPause').querySelector('i').classList.add('fa-play');
        });

        wavesurfer.on('mute', function (state) {
            if (state) {
                document.querySelector('#mute').querySelector('i').classList.remove('fa-volume');
                document.querySelector('#mute').querySelector('i').classList.add('fa-volume-mute');
            }
            else {
                document.querySelector('#mute').querySelector('i').classList.remove('fa-volume-mute');
                document.querySelector('#mute').querySelector('i').classList.add('fa-volume');
            }
        });

        wavesurfer.on('finish', function () {
            if (loop) {
                wavesurfer.load("@( "/" + ViewBag.BaseUploadsPath + "/" + music.Path )")
            }
        });

        // Toggle Play / Pause button
        document.querySelector('#playPause').addEventListener('click', function () {
            wavesurfer.playPause();
        });

        // Toggle Mute button
        document.querySelector('#mute').addEventListener('click', function () {
            wavesurfer.toggleMute();
        });

        // Loop button
        document.querySelector('#loop').addEventListener('click', function () {
            loop = !loop;
            if (loop) {
                document.querySelector('#loop').querySelector('i').classList.remove('fa-arrow-right');
                document.querySelector('#loop').querySelector('i').classList.add('fa-repeat');
            }
            else {
                document.querySelector('#loop').querySelector('i').classList.remove('fa-repeat');
                document.querySelector('#loop').querySelector('i').classList.add('fa-arrow-right');
            }
        })
    </script>
}
