@using AudioPlayerProject.Models.Music;

@{
    Music music = ViewBag.Music;
    ViewData["Title"] = music.Title + (music.Artist == null ? "" : "- " + music.Artist);
}

<h3>@music.Title @(music.Artist == null ? "" : "- " + music.Artist)</h3>
<div id="waveform"></div>

<button onclick="wavesurfer.play();">Play</button>
<button onclick="wavesurfer.pause();">Pause</button>

@section Scripts {
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script>
        var wavesurfer = WaveSurfer.create({
            container: '#waveform'
        });

        wavesurfer.load("@( "/" + ViewBag.BaseUploadsPath + "/" + music.Path )")
    </script>
}
