@using AudioPlayerProject.Models;

@{
    Playlist playlist = ViewBag.Playlist;
    List<Music> musics = ViewBag.Musics;
    ViewData["Title"] = playlist.Name;
}

<h3>@playlist.Name</h3>
<div class="my-4" id="waveform"></div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" id="loop">Toggle Loop</button>
    <div class="btn-group mx-4" role="group">
        <button type="button" class="btn btn-primary" id="previous"><i class="fas fa-step-backward"></i></button>
        <button type="button" class="btn btn-primary" id="playPause"><i class="fas fa-play"></i></button>
        <button type="button" class="btn btn-primary" id="next"><i class="fas fa-step-forward"></i></button>
    </div>
    <button type="button" class="btn btn-primary" id="mute"><i class="fas fa-volume-up"></i></button>
</div>

<div class="list-group my-4" id="playlist">
    @foreach (Music music in musics)
    {
        <a href="@( "/" + ViewBag.BaseUploadsPath + "/" + music.Path )" class="list-group-item">
            <i class="fas fa-play mr-4"></i>
            @music.Title
            <span class="badge badge-primary badge-pill float-right">@(music.Duration / 60):@((music.Duration % 60).ToString().PadLeft(2, '0')) </span>
        </a>
    }
</div>

@section Scripts {
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script>
        var wavesurfer = WaveSurfer.create({
            container: '#waveform'
        });

        let loop = false;

        // The playlist links
        let links = document.querySelectorAll('#playlist a');
        let currentTrack = 0;

        // Load a track by index and highlight the corresponding link
        let setCurrentSong = function (index) {
            // Unset 'active' classes
            links[currentTrack].classList.remove('active');
            links[currentTrack].querySelectorAll('i')[0].classList.remove('fa-pause');
            links[currentTrack].querySelectorAll('i')[0].classList.add('fa-play');
            links[currentTrack].querySelectorAll('span')[0].classList.remove('badge-light');
            links[currentTrack].querySelectorAll('span')[0].classList.add('badge-primary');

            // Next track
            currentTrack = index;

            // Set 'active' classes
            links[currentTrack].classList.add('active');
            links[currentTrack].querySelectorAll('span')[0].classList.remove('badge-primary');
            links[currentTrack].querySelectorAll('span')[0].classList.add('badge-light');

            // Load track
            wavesurfer.load(links[currentTrack].href);
        };

        // Load the track on click
        Array.prototype.forEach.call(links, function (link, index) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                setCurrentSong(index);
            });
        });

        // Play on audio load
        wavesurfer.on('ready', function () {
            wavesurfer.play();
        });

        wavesurfer.on('error', function (e) {
            console.warn(e);
        });

        // Go to the next track on finish
        wavesurfer.on('finish', function () {
            if (loop == false) {
                setCurrentSong((currentTrack + 1) % links.length);
            }
            else {
                setCurrentSong((currentTrack) % links.length);
            }
            
        });

        wavesurfer.on('play', function () {
            // Button Play/Pause
            document.querySelector('#playPause').querySelector('i').classList.remove('fa-play');
            document.querySelector('#playPause').querySelector('i').classList.add('fa-pause');

            // List
            links[currentTrack].querySelector('i').classList.remove('fa-play');
            links[currentTrack].querySelector('i').classList.add('fa-pause');
        });

        wavesurfer.on('pause', function () {
            // Button Play/Pause
            document.querySelector('#playPause').querySelector('i').classList.remove('fa-pause');
            document.querySelector('#playPause').querySelector('i').classList.add('fa-play');

            // List
            links[currentTrack].querySelector('i').classList.remove('fa-pause');
            links[currentTrack].querySelector('i').classList.add('fa-play');
        });

        wavesurfer.on('mute', function (state) {
            if (state) {
                document.querySelector('#mute').querySelector('i').classList.remove('fa-volume-up');
                document.querySelector('#mute').querySelector('i').classList.add('fa-volume-mute');
            }
            else {
                document.querySelector('#mute').querySelector('i').classList.remove('fa-volume-mute');
                document.querySelector('#mute').querySelector('i').classList.add('fa-volume-up');
            }
        });

        // Load the first track
        setCurrentSong(currentTrack);

        // Toggle Play / Pause button
        document.querySelector('#playPause').addEventListener('click', function () {
            wavesurfer.playPause();
        })

        // Toggle Mute button
        document.querySelector('#mute').addEventListener('click', function () {
            wavesurfer.toggleMute();
        })

        // Next button
        document.querySelector('#next').addEventListener('click', function () {
            if (currentTrack < links.length - 1) {
                setCurrentSong((currentTrack + 1) % links.length);
            }
        })

        // Previous button
        document.querySelector('#previous').addEventListener('click', function () {
            if (currentTrack > 0) {
                setCurrentSong((currentTrack - 1) % links.length);
            }
        })

        // Loop button
        document.querySelector('#loop').addEventListener('click', function () {
            loop = !loop;
        })
    </script>
}
