@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p class="text-monospace">AudioPlayerProject</p>
</div>
<hr class="my-4">
<div class="card mx-auto" style="width: 50rem;">
    <div class="card-body">
        <p class="card-text my-4">
            Profitez des <span class="font-weight-bold" style="color: rgb(16, 162, 245);">@ViewBag.MusicCount</span> musiques disponibles pour créer des <span class="font-weight-bold" style="color: rgb(235, 72, 136);">playlists</span> à votre goût.
            Contribuer à la diversité en <span class="font-weight-bold" style="color: rgb(233, 188, 63);">ajoutant</span> des morceaux que vous trouvez indispensable ou faites <span class="font-weight-bold" style="color: rgb(36, 208, 90);">découvrir</span> vos sons si vous êtes créateur.
        </p>
    </div>
</div>
